version: "3"

services:
  go-carbon:
    build:
      dockerfile: docker/go-carbon/Dockerfile
      context: .
    ports:
      - "2003:2003"

  carbonapi:
    build:
      dockerfile: docker/carbonapi/Dockerfile
      context: .
    ports:
      - "8081:8081"
    links:
      - zipper

  zipper:
    build:
      dockerfile: docker/zipper/Dockerfile
      context: .
    volumes:
      - "./config/carbonzipper.yaml:/etc/carbonzipper.yaml"
    ports:
      - "7000:7000"
      - "8000:8000"
    links:
      - go-carbon
