name: CI
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [1.24.x, 1.25.x, tip]
    steps:
      - name: Set up Go stable
        if: matrix.go-version != 'tip'
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
      - name: Set up Go tip
        if: matrix.go == 'tip'
        run: |
          curl -o go.tar.gz -L \
          https://github.com/AlekSi/golang-tip/releases/download/tip/master.linux-amd64.tar.gz
          sudo tar -C /usr/local -xzf go.tar.gz
          sudo ln -s /usr/local/go/bin/* /usr/local/bin/
          /usr/local/bin/go version
          echo "PATH=$HOME/go/bin:$HOME/sdk/gotip/bin/:$PATH" >> $GITHUB_ENV
      - name: install cairo
        run: sudo apt-get install libcairo2-dev -y
      - name: checkout code
        uses: actions/checkout@v5
      - name: test
        run: make test
      - name: govulncheck
        if: matrix.go-version == '1.25.x'
        uses: golang/govulncheck-action@v1
        with:
          go-version-input: ${{ matrix.go-version }}
          check-latest: true
          go-package: ./...
      - name: golangci-lint
        if: matrix.go-version == '1.25.x'
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6.1
      - name: integration test
        if: matrix.go-version == '1.25.x'
        run: tests/system_test.sh
